<html ng-app="myApp">
<link href="style.css" rel="stylesheet" type="text/css">
<title>Trails</title>
<div id="blog">
<div class="blogpage" id="rev">
    <div class="blogsection"  ng-controller="ReviewController">          
                    <form action="#" method="post"  >
                      <h4>We welcome your honest reviews on our current active series</h4> 
                    <h2>DROP A REVIEW</h2>
                    <div class="name">
                        <label for="name"></label>
                        <input type="text" placeholder="name" name="name" ng-model="fullName" id="name_input" required>
                        <span style="color:Red" ng-show="EventForm.contNum.$error.required"> Required! </span>
                        
                      </div>
                      
                    <div class="email">
                        <label for="email"></label>
                        <input type="email" placeholder="email" name="email"  ng-model="emailadd" id="email_input" required>
                        <span style="color:Red" ng-show="EventForm.email.$dirty && EventForm.email.$error.pattern">
                          Invalid Email format</span>
                      </div>
                    <br>
                      <div class="book">
                        <label for="book"></label>
                        <select ng-model="book" ng-model="bookser" required >
                            <option name="book" value="default"> BOOK SERIES TO REVIEW
                                </option><option name="book" value="HPS">HARRY POTTER SERIES
                                </option><option name="book" value="NCS">NARNIA CHRONICLES SERIES
                                </option><option name="book" value="TMIS">MORTAL INSTRUMENT SERIES
                                </option><option name="book" value="DBS">DAN BROWN SERIES
                                </option><option name="book" value="TDS">THE DIVERGENT SERIES
                                </option><option name="book" value="HGS">HUNGER GAMES SERIES
                               </option></select>
                         
                      </div>
                    

                    <div class="message">
                        <label for="message"></label>
                        <textarea name="message" placeholder="message"  ng-model="revmesg"  id="message_input" required></textarea>
                      </div>

                      <div class="submit">
                        <button ONCLICK=" alert('THANK YOU FOR THE REVIEW')" type="submit" value="Send Message" id="form_button" >SUBMIT REVIEW</BUTTON>
                      </div>
                      <br>
                    </form><!-- // End form -->         
  </div>         
  <div class="blogsection" id="revimg">
        <img src="images\10.jpg">  
  </div>
</div>
</div>
</html>